/.github/ @sufikaur
/.readthedocs.yml @sufikaur
/pyproject.toml @sufikaur
/requirements-dev.txt @sufikaur
/codecov.yml @sufikaur

/.addheader.yml @ksbeattie
/COPYRIGHT.md @ksbeattie
/LICENSE.md @ksbeattie
/copyright_header.txt @ksbeattie

/docs/ @agarciadiego @sufikaur
/README.md @agarciadiego @sufikaur

/src/prommis/_sphinx_extensions/ @sufikaur @ksbeattie
/src/prommis/_testing_utils/ @sufikaur @ksbeattie

**/conftest.py @sufikaur

/src/prommis/evaporation_pond/ @dallan-keylogic 
/src/prommis/leaching/ @dallan-keylogic @MarcusHolly
/src/prommis/nanofiltration/ @mollydougher
/src/prommis/precipitate/ @agarciadiego
/src/prommis/roasting/ @jinliangma 
/src/prommis/solid_handling/ @Lingyan90
/src/prommis/solvent_extraction/ @ArkoprabhoDasgupta

/src/prommis/uky/ @MarcusHolly
/src/prommis/uky/costing/ @bpaul4
